/* Set the font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    
    backdrop-filter: blur(3px);
    background-size: cover;
  }
  
  /* Center the login div */
  .login {
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    top:70%;
  }

  /* Style the input fields */
  .b {
    text-align: left;
    margin-bottom: 10px;
    color: #ccc;
  }
  
  input[type="number"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    height: 46px;
  }
  
  /* Style the predict button */
  button {
    background-color: #ec4b2f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  h1
  {
    color: #ccc;
  }
  button:hover {
    background-color: #29ee5a;
  }
  
  /* Style the results message */
  b {
    font-size: 18px;
    margin-top: 20px;
    display: block;

  }
  
  .left {
    float: left;
    width: 50%;
    
  }

  .right {
    float: right;
    width: 50%;
  }  
  .btn1
  {
    background-color: #442aeb; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn1:hover {
    background-color: #29ee5a;
  }